{% extends 'backoffice_base.html.twig' %}

{% block title %}Backoffice{% endblock %}

{% block content %}
    <header>
        <h1>Bienvenu sur le backoffice de SnowTricks</h1>
    </header>

{% endblock %}